[Desktop Entry]
Name=jerboa
Comment=""
GenericName=Music Player
Exec=jerboa %f
Terminal=false
Type=Application
Icon=jerboa
Categories=Qt;KDE;AudioVideo;Player;
StartupNotify=false
